table{
  margin: auto;
  width: 90%;
}
thead tr{
  border: none;
}
td{
  border: .5px solid #fff;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 1em;
}
tr:nth-child(even){
  background-color: #222222;
}